body{
    margin : 0;
    padding : 0;
    background-color: #F8F9FA;
    box-sizing: content-box;
}

/* .menu_right{
    width:800px;
} */


.search_box{
    padding-top: 20px;
}

#line{
    border: 1px solid #000;
}


.navBtn{
    cursor:pointer;
}
.shop_name {
    font-size: 60px;
    font-weight: 900;
}

.nav_drop{
    background-color: #F8F9FA;
}

header{
    border-bottom: 1px solid #e2e2e2;
}


.offCanGroup{
    /* display: none; */
    position: fixed;
    border-right: 1px solid #000;
    float: left;
    width:200px;
    list-style: none;
    height:100vh;
    opacity:0;
    padding: 0 20px;
    transition: opacity 0.5s;
    /* text-decoration: none; */

}

.offCanGroup.active{
    /* display: */
    float: left;
    position: fixed;
    border-right: 1px solid #000;
    width:200px;
    list-style: none;
    height:100vh;
    z-index: 999;
    opacity:1;
    padding: 0 20px;
    list-style: none;
    transition: opacity 0.5s;
    /* text-decoration: none; */
}


.sideTitle{
    font-size: 1.1em;
    font-weight: 900;
    padding-top: 10px;
    margin-bottom: 0;
}

.sideList{
    text-decoration: none;
    color : #000;
    padding-left : 20px;
    width:30%;
}

.searchBox{
    width:20vw;
}

.navList{
    padding-right : 10px;
}



.contentBox{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.carouselImg{
    width: 600px;
    height:400px;
    object-fit: cover;
}


.ListGroup{
    padding: 30px;
}

.cardItems{
    padding-top:30px;
}