*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
.wrap{
    width:1200px;
    margin:0 auto;
    text-align: center;
    padding: 0;
}
/* !헤더 */
.mainHeader{
    background-color: black;
    text-align: left;
    padding : 15px 25px;
}

a{
    color: black;
}

ul{
    padding: 0;
    margin : 0;
}
.logoImg{
    display:block;
    margin:auto;
    text-align: center;
}

.navColor{
    color:#000;
}
li a {
    text-decoration: none;
    color:#000;
}
li{
    list-style: none;
}
/* !main center */
.listGroup{
    display : grid;
    grid-template-columns: repeat(4,1fr);
    border:2px solid #000;
    border-top:0;
    padding : 0;
    text-align: center;
    transform:translateY(-600px);
    height:0;
    opacity: 0;
    transition: all 0.5s;
}

.listGroup.active{
    display : grid;
    grid-template-columns: repeat(4,1fr);
    border:2px solid #000;
    border-top:0;
    padding : 0;
    opacity: 1;
    height:200px;
    text-align: center;
    transform:translateY(0);
    transition: all 0.5s;
}
.list{
    padding: 0;
    width:100%;
    height: 72px;
}

.list.active{
    padding: 0;
    width:100%;
    height: 264px;
}
.title{
    padding-top:10px ;
    font-weight: 900;
}

.listCollection li{
    padding-bottom:10px;
}

h3{
    font-size: 1.1em;
    font-weight: 900;
    padding-top:10px;
}

.info{
    z-index:999;
}

/* !카드 */

.cardList{
    padding : 20px 0;
}

.cardItems{
    padding: 10px;
}


/* !footer */
footer{
    width: 100%;
    height: 220px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: #000;
    background-color: #F8F9FA;
    /* font-weight: 600; */
}
footer>h4{
    text-align: center;
    margin-top: 100px;
}
.contact>p{
    margin-top: 100px;
    text-align: center;
}

ul{
    list-style: none;
}

.contact{
    text-align: center;
    /* height:60vh; */
    margin:50px;
}


.copyright{
    text-align: center;
    margin-top : 100px;
}

/* !login */


.center{
    width:100%;
    height:63vh;
}

.loginForm{
    display: grid;
    grid-template-rows: repeat(auto,1fr);
}

.loginFormBox{
    width:20vw;
    margin:30px auto;
}
.loginPad{
    padding: 10px;
    margin:15px 0;
}
.btnHeight{
    height:5vh;
    margin-top:0;
}
.createId{
    display:grid;
    grid-template-columns: repeat(auto,1fr);
}
.registerText{
    padding: 10px 0;
    padding-left: 20px;
}
.registPad{
    padding: 10px;
}

.btnMargin{
    margin-top:20px;
}

.modiForm{
    grid-template-columns: repeat(2,1fr);
}
.errM,.modiBtn{
grid-column:1/3;
}
h2{
    text-align: center;
    padding-top:40px;
    font-weight: 900;
}
.modiFormBox{
    width:25vw;
}

.btnWidth{
    width:100%;
}

.delText{
    text-align: center;
    color : #ff0000;
    font-weight: 900;
    grid-column: 1/3;
    padding-top:20px;
}