*{
    margin:0;
    padding:0;
    /* box-sizing: content-box; */
    /* background-color: black; */
}

.mainHeader{
    background-color: black;
    padding : 15px;
}

a{
    color: black;
}

/* .navbarBackGround{
    background-color: ;
} */

.logoImg{
    display:block;
    margin:auto;
    text-align: center;
}

.navColor{
    color:#000;
}
li a {
    text-decoration: none;
}
li{
    list-style: none;
}

.listGroup{
    display: inline-block;
    margin : 0;
    padding : 0;
}

