
body {
  margin: 0px;
  width:100%;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color : #010101;
}
/* ! Header */
.mainHeader{
  width:1200px;
  margin:0 auto;
  display:grid;
  grid-template-columns: 3fr 7fr 3fr;
  padding:  20px 30px;
}
.logoImg{
  width: 100px;
  height: 100px;
}
.searchBox{
  margin: 10px auto 0;
  position:relative;
}

.searchInput{
  width:500px;
  height:40px;
  border: 1px solid #010101;
  font-size:16px;
  padding: 10px;
  outline: none;
}
.searchButton{
  position:absolute;
  right:10px;
  top:8px;
  z-index: 999;
  border:none;
  background-color: #fff;
  cursor:pointer;
}
.myInfo{
  font-size: 20px;
  position:relative;
  /* text-align: center; */
}

.infoList{
  position:absolute;
  bottom:0;
}
.login{
  left : 70px;
}

.signUp{
  left : 160px;
}
/* !NavBar */
nav {
  margin-top: 10px;
  padding: 12px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#nav-1 {
  background: #fff;
}


.link-1 {
  transition: 0.3s ease;
  background: #fff;
  color: #010101;
  font-size: 20px;
  text-decoration: none;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 10px 0;
  margin: 0 20px;
}
.link-1:hover {

  border-bottom: 2px solid #010101;
  padding: 6px 0; 
}

.menuList{
  display:none;
  opacity: 0;
  left:50%;
  transform: translateX(-50%);
  /* background-color: #fff; */
  border:2px solid #fff;
  position:absolute;
}

.menuList.active{
  display: grid;
  width:1200px;
  /* height:50px; */
  opacity: 1;
  border:1.5px solid #e2e2e2;
  background-color: #fff;
  position:absolute;
  top:165px;
  left:50%;
  transform: translateX(-50%);
  transition: all 1s;
  z-index:999;
}
.menuList{
  display:grid;
  grid-template-columns: repeat(4,1fr);
}
.menuDetail{
  text-align: center;
  padding: 10px;
}
/* !   main center */
.center{
  width:1200px;
  margin: 0 auto;
}
h3{
  padding-top : 20px;
  font-size: 1.3em;
  text-align: center;
}
.carouselgrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);

}
.carouselGroup{
  text-align: center;
}
.caroImg{
  width: 360px;
  padding: 10px;
}

/* card */
.card{
  padding:30px 0;
}
.cardGroup{
  gap:30px;
}

/* !form center */
.formCenter{
  width:500px;
  margin:0 auto;
}

/* login */
.grid{
  display:grid;
}
label{
  width:400px;
  padding-left:40px;
}
.form{
  border:1px solid #010101;
  padding-bottom:50px;
  position:relative;
}
.loginForm{
  grid-template-rows: 1fr auto 2fr;
}

.inputTag,.btnGroup{
  width:400px;
  height:50px;
  margin:20px auto;
}

.formText{
  font-size:20px;
  text-align: center;
}
.messageBox{
  position:relative;
}
.errMessage{
  font-size: 15px;
  color:#ff000f;
  height:25px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  position:absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
}

.registForm{
  grid-template-rows: auto 1fr auto; 
  padding: 20px;
}

.idCheck{
  display: grid;
  grid-template-columns: 1fr auto; 
  align-items: center; 
}


.idWidth{
width:350px;
height:50px;
margin-right: 10px;
}

.registErr{
  font-size: 14px;
  color:#ff000f;
  text-align: center;
}

.modifyBtn{
  width:400px;
  margin:0 auto;
}
